.history/*
__pycache__/*
mrbert/mrbert_checkpoints/*
mrbert/wandb/*
mrbert-alina/*
mrt5/diagnostic_datasets/*
mrt5/lm_datasets/*
mrt5/training/local_mrt5_checkpoints/*
mrt5/training/local_t5_checkpoints/*
mrbert/local_checkpoints/*
mrbert/training/__pycache__/*
mrbert/mrbert_tydiqa_test/*
mrbert/mrbert_sst2_test/*
mrbert/mrbert_imdb_test/*
mrbert/mrbert_squad_test/*
mrbert/bert_snli_test/*
mrbert/imdb_datasets/*
mrbert/mrpc_datasets/*
mrbert/sst2_datasets/*
mrbert/tydiqa_datasets/*
mrbert/snli_datasets/*
mrbert/squad_datasets/*
mrbert/test_imdb_mrbert/*
mrbert/test_mrpc_mrbert/*
mrbert/test_sst2_mrbert/*
mrbert/test_tydiqa_mrbert/*
mrbert/test_snli_mrbert/*
mrbert/test_squad_mrbert/*