.history/*
__pycache__/*
mrbert/mrbert_checkpoints/*
mrbert/bert_snli_test/*
mrbert/mrbert_snli_test/*
mrbert/snli_datasets/*
mrbert/wandb/*
mrbert-alina/*
mrt5/diagnostic_datasets/*
mrt5/lm_datasets/*
mrt5/training/local_mrt5_checkpoints/*
mrt5/training/local_t5_checkpoints/*