accelerate==0.28.0
datasets==2.18.0
matplotlib==3.8.3
nltk==3.8.1
numpy>=1.21,<2
pandas==2.2.3
scipy==1.15.2
seaborn==0.13.2
torch==2.5.1
tqdm==4.66.2
transformers==4.39.1
modal
wandb
google-cloud-aiplatform
google-cloud-storage
google-cloud-compute
